@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Base-Regular";
    src: url("/fonts/Base-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Base-Medium";
    src: url("/fonts/Base-Medium.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: "Stoic-Bold";
    src: url("/fonts/Stoic-bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: "Stoic-Medium";
    src: url("/fonts/Stoic-medium.woff2") format("woff2");
    font-weight: medium;
    font-style: normal;
  }
  @font-face {
    font-family: "Stoic-Regular";
    src: url("/fonts/Stoic-regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }
  html {
    font-family: "Stoic-Regular", system-ui, sans-serif;
  }
  h1,
  h2,
  h3 {
    font-family: "Base-Medium", system-ui, sans-serif;
    letter-spacing: 0.6px;
  }
  .post h2 {
    @apply text-3xl mt-8 mb-2;
  }
  .post h3 {
    @apply text-xl mt-6 mb-2;
  }
}

.li--checked::before {
  content: url("/images/checkmark.svg");
  min-width: 2em;
  min-height: 2em;
}
[aria-current="page"] {
  color: red;
}
